@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
}

:root {
  font-size: 62.5%;
}

a {
  color: #121212;
}

#container {
  margin: 3rem 2rem;
}

#nav .logo img {
  width: 60%;
}

#nav {
  height: 65px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

#nav ul li a {
  font-size: 1.4rem;
}

/*Main*/
#main {
  margin-top: 8rem;
  text-align: center;

  font-family: 'Open Sans', sans-serif !important;
}

#main img {
  width: 100% !important;
}

#main h1 {
  font-size: 2.2rem;
  font-weight: 700;

  margin: 2rem 0;
}

#main p {
  margin-bottom: 2rem;
  font-weight: 400;
}

.wrapper-main label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper-main input,
.wrapper-main button {
  width: 100%;
  padding: 1rem 0;

  border: none !important;
  border-radius: 4px;
}

.wrapper-main input {
  padding-left: 2rem;
  margin: 1rem 0;

  border: 1px solid #121212;
}

.wrapper-main button {
  background: hsl(224, 93%, 58%);
  color: #f1f1f1;
  font-weight: 700;

  cursor: pointer;
}

.wrapper-main button:hover {
  filter: brightness(0.9);
}

/*Productive*/
#productive {
  margin-top: 8rem;
  text-align: center;

  font-family: 'Open Sans', sans-serif !important;
}

#productive img:nth-child(1) {
  width: 100% !important;
}

#productive h1 {
  font-size: 2.2rem;
  font-weight: 700;

  margin: 2rem 0;
}

#productive p {
  margin-bottom: 2rem;
  font-weight: 400;
}

.button-works {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  width: initial;
  padding-bottom: 1rem;
  border-bottom: 2px solid hsl(170, 45%, 43%);
}

.button-works a {
  color: hsl(170, 45%, 43%);
}

.button-works img {
  width: 24px;
  height: 24px;
}

.card {
  -webkit-box-shadow: -7px 17px 32px -14px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -7px 17px 32px -14px rgba(0, 0, 0, 0.5);
  box-shadow: -7px 17px 32px -14px rgba(0, 0, 0, 0.5);
  border-radius: 6px;

  padding: 2rem 3rem;
  margin-top: 6rem;
}

.pharse {
  margin-top: 3rem;
}

.quotes {
  position: absolute;
  left: 5rem;
}

.user {
  display: flex;
  gap: 1rem;
  text-align: left;
}

.photo-profile {
  width: 15%;
  height: 15%;
}

.name-user {
  padding-top: 6px;
}

.photo-profile img {
  border-radius: 50%;
}

/*Early*/
#early {
  margin-top: 6rem;
  padding: 6rem 4rem;
  text-align: center;

  background-color: hsl(238, 22%, 44%);
  color: #f1f1f1;
}

#early h2 {
  font-size: 2.4rem;
  padding-bottom: 2rem;
}

#early p {
  padding-bottom: 2rem;
}

footer {
  background-color: hsl(243, 87%, 12%);
  color: #f1f1f1;

  padding: 6rem 4rem;
}

footer svg g path {
  fill: #f1f1f1;
}

.contact .phone,
.contact .email {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 2rem;

  padding: 1rem 0;
}

.contact .phone img,
.contact .email img {
  height: 20px;
}

.link-footer p {
  font-size: 2rem;
  margin-top: 3rem;
}

.link-footer ul li {
  padding: 1rem 0;
}

.link-footer ul li a {
  color: #f1f1f1;
}

/*Screen*/

@media only screen and (min-width: 768px) {
  #container {
    margin: 2rem 6rem;
  }

  #main, 
  #productive {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
  }

  #main img, 
  #productive img{
    order: 1;
  }

  .wrapper-main label {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  .wrapper-main button {
    width: 50%;
  }

  /*productive*/

  #productive .card{
    width: 75% !important;
    text-align: left;
  }

  .quotes {
    left: 9rem;
  }

  /*Early*/
  #early{
    display: flex;
  }

  #early div:nth-child(1){
    text-align: left;
    width: 60%;
  }

  #early .wrapper-main{
    width: 80%;
  }

  #early .wrapper-main label{
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  .wrapper-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .link-footer{
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
}
